@import "../../../../css-config/mixins.scss";

.contain{
    max-width: "s";
    background-color: #F9F9F9;
    @include sm{
        width:"400px";
        height:"500px";
    }
    
}
.cont{
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    display: block;
}