@import "../../../css-config/mixins.scss";
.shop-by-category{
    margin: 25px 0;
    @include md{
        margin: 50px 0;
    }
    .categories{
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        margin-left: 20px;
        
        @include md{
            margin-left: 40px;
        }
        .category{
            background-color: #F3E8FF;
            width: calc(45% - 20px);
            cursor: pointer;
            overflow: hidden;
            text-align: center;
            margin-left: 30px;
            height: 200px;
            border-radius: 10px;
            margin-bottom: 20px;
            @include md{
                width: calc(30% - 20px);
                margin-left: 30px;
                height: 300px;
            }
            .icon{
                width: 100%;
                display: block;
                margin-top: 20px;
                
            } 
            .text{
                margin-top: 20px;
                font-size: 11px;
                font-weight: 200;
                justify-content: center;
                @include md{
                    font-size: 30px;
                    margin-top: 40px;
                    justify-content: center;
                    
                }
            }
            .text-p{
                margin-top: 5px;
                font-size: 8px ;
                justify-content: center;
                line-height: 1;
                font-weight: 100;
                @include md{
                    margin-top: 20px;
                    font-size: 15px;
                }
            }
            
        }
        .category:hover{
            transition:0.5s;
            transform: scale(1.1);
                box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
                z-index: 1;
        }
    }
}